name: Docker CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  REGISTRY: docker.io
  USERNAME: yaswanthchennareddy25@gmail.com
  PASSWORD: yaSH@123456789

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      BUILD_NUMBER: ${{ github.run_number }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ env.USERNAME }}
          password: ${{ env.PASSWORD }}

      - name: Build and push frontend
        run: |
          docker build --build-arg BUILD_NUMBER=$BUILD_NUMBER -t $REGISTRY/${{ env.USERNAME }}/landing-frontend:$BUILD_NUMBER ./frontend
          docker push $REGISTRY/${{ env.USERNAME }}/landing-frontend:$BUILD_NUMBER

      - name: Build and push backend
        run: |
          docker build --build-arg BUILD_NUMBER=$BUILD_NUMBER -t $REGISTRY/${{ env.USERNAME }}/landing-backend:$BUILD_NUMBER ./backend
          docker push $REGISTRY/${{ env.USERNAME }}/landing-backend:$BUILD_NUMBER
